/*
 body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
} 
*/

body{
  /* background-color: #191516; */
  background-color: #2C3338;
  color: #00B295;
}